@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  h1 {
    @apply text-4xl font-bold text-secondary-foreground;
  }

  h1,
  h2 {
    @apply font-bold tracking-tight text-secondary-foreground;
  }

  h2 {
    @apply text-xl lg:text-2xl;
  }

  h3,
  p {
    @apply text-slate-700 dark:text-slate-400;
  }
}

@layer components {
  /*
 * *********************************************
 * **** BLOG POST STYLES START ****
 * *********************************************
 */

  .prose a {
    @apply text-primary underline decoration-primary underline-offset-2 transition-all hover:no-underline;
  }

  .prose .anchor {
    @apply invisible absolute right-4 top-1/2 w-full -translate-y-1/2 text-lg text-muted-foreground no-underline after:content-['#'];
  }

  .prose .anchor:hover {
    @apply visible no-underline;
  }

  .prose :where(h2, h3):hover > .anchor {
    @apply visible;
  }

  .prose h2 {
    @apply mb-4 mt-16 text-xl font-bold tracking-tight lg:text-2xl;
  }

  .prose h3 {
    @apply mb-4 text-lg font-bold tracking-tight lg:text-xl;
  }

  .prose :where(h2, h3) {
    scroll-margin-top: 80px;
    position: relative;
  }

  .prose p {
    @apply mb-8 leading-7 text-slate-700 dark:text-slate-400;
  }

  .prose p code {
    @apply text-sm;
  }

  .prose strong {
    @apply font-semibold;
  }

  .prose ul {
    @apply mb-8 list-disc pl-8 leading-7;
  }

  .prose ol {
    @apply mb-8 list-decimal pl-8 leading-7;
  }

  code[data-language="plaintext"] {
    @apply rounded bg-secondary border px-1 py-0.5 font-mono text-sm;
  }

  code[data-language="plaintext"] > [data-line]::before {
    content: none;
  }

  /*
 * *********************************************
 * **** BLOG POST STYLES END ****
 * *********************************************
 */

  /*
 * *********************************************
 * **** CODE BLOCK STYLES START ****
 * *********************************************
 */

  /* Code block is wrapped by figure element */
  [data-rehype-pretty-code-figure] {
    @apply relative mb-8;
  }

  /* Code block title */
  [data-rehype-pretty-code-title] {
    @apply rounded-t-lg border border-b-0 p-3 text-sm text-slate-700 dark:text-slate-400;
  }

  figure pre {
    @apply overflow-x-auto rounded-b-lg border py-4 text-sm;
    counter-reset: line;
  }

  code > [data-line] {
    @apply border-l-2 border-l-transparent;
  }

  code > [data-line]::before {
    @apply mx-4 inline-block w-4 text-right text-muted-foreground;
    counter-increment: line;
    content: counter(line);
  }

  code > [data-highlighted-line] {
    @apply border-l-2 border-primary bg-blue-50;
  }

  code[data-line-numbers-max-digits="2"] > [data-line]::before {
    @apply w-8;
  }

  code[data-line-numbers-max-digits="3"] > [data-line]::before {
    @apply w-12;
  }

  /*
 * *********************************************
 * **** CODE BLOCK STYLES END ****
 * *********************************************
 */
}

/* Search input cancel button styles */
input[type="search"]::-webkit-search-cancel-button {
  @apply pointer-events-none absolute right-4 top-1/2 size-5 -translate-y-1/2 bg-[url('https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg')] opacity-0;
  -webkit-appearance: none;
}

input[type="search"]:focus::-webkit-search-cancel-button {
  @apply pointer-events-auto opacity-40;
}

.note-component p:last-child {
  margin-bottom: 0 !important;
}

input {
  -webkit-appearance: none;
}
